.bodyReferencias {
    background-color:rgb(228, 237, 250) ;
    width: 1600px;
    height: 900px;
}

.HeaderReferencias{
    background-color: #54A1FF;
  height: 85px;
  width: 1600px;
}

.HeaderReferencias .Logo {
  float: center;
  text-align: center;
  margin:0 auto;
  font-family:'Rounded';
  font-size: 30px;
  color: #ffff;


  }

  .h1Referencias {
    font-family: "Plaflair";
    font-size: 0.8cm;
    margin-top: 200px;
    margin-left: 730px;
    margin-right: 500px;
  }


  .h2Referencias {
    font-family: "Plaflair";
    font-size: 0.5cm;
    margin-top: 70px;
    margin-left: 560px;
    margin-right: 500px;
  }

  
@font-face {
    font-family: 'Playflair';
    src: url('./Assets/Fontes/Font-Style.Header/PlayfairDisplay-Regular.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplay-Italic.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplay-Bold.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplaySC-Regular.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplaySC-Italic.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplaySC-BoldItalic.woff') format('woff'),
    url('./Assets/Fontes/Font-Style.Header/PlayfairDisplaySC-Bold.woff') format('woff'),
  }