.img {
    width: 100%;
    height: 450px;
}

.slide-container {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    border:solid 2px #0394FF;
    border-radius: 3px;
}
.each-slide {
width: 100%;
height: 100%;
  }



  